
<div class="page-section section">
    <div class="container body-content">
        <div class="section-header">
            About
        </div>
        <div class="section-body">
            <div id="markdownDestination">
                
            </div>
            @*<p>
                This app was built due to a request from Sql Server DBAs for devs to provide
                documenation on database tables. They wanted at a glance to be able to get a high-
                level idea of their purposes, without being dependent upon a developer. They had
                a tool that could auto-generate documenation about the database based on table's
                and column's extended properties. The UI in Sql Server Managment Studio to accomplish
                this is very clunky - requiring numerous clicks and popup windows to add properties
                for each table and for each column individually.
            </p>
            <p>
                Therefore, this app was written to ease the pain of adding the exteneded properties.
                All told the need was to add properties to numerous tables and columns (at least a
                couple hundred across multiple databases).
            </p>*@
        </div>
    </div>
</div>
