<form name="propForm" class="form-horizontal"
      ng-submit="propForm.$valid && propertyForm.submit()">
    <div class="form-group">
        <input type="text"
               data-ng-disabled="propertyForm.isFormDisabeld()"
               data-ng-model="propertyForm.name"
               placeholder="Property Name..."
               class="form-control"
               data-typeahead-show-hint="true"
               data-typeahead-min-length="0"
               data-uib-typeahead="suggestion for suggestion in propertyForm.suggestions | filter:$viewValue | limitTo: 8"
               data-ng-required="true" />
    </div>
    <div class="form-group">
        <textarea class="form-control"
                  data-ng-disabled="propertyForm.isFormDisabeld()"
                  data-ng-model="propertyForm.description"
                  rows="4"
                  placeholder="Property Description..."
                  data-ng-required="true"></textarea>
    </div>
    <div class="form-group">
        <input type="submit"
               class="btn btn-primary"
               value="Save {{propertyForm.type}} Property" />
        <input type="button"
               class="btn btn-default"
               value="Clear"
               data-ng-click="propertyForm.clear()" />
    </div>
</form>